@import '../../../../variables.css';

:host {
	position: relative;
	display: block;
	background-color: var(--controls-backgroung-color-base);
}

:host:not(:last-of-type) {
	border-bottom: thin solid var(--border-color);
}

.collapsed-root {
	display: flex;
	align-items: center;
	padding: var(--x2) var(--x6);
	cursor: pointer;
	transition: background-color ease 0.1s;
	will-change: background-color;
}

.collapsed-root:hover,
.collapsed-root:focus,
.collapsed-root:active {
	background-color: var(--controls-backgroung-color-hover);
}

.avatar-collapsed {
	margin-right: var(--x4);
}

.from-short {
	display: inline-block;
	overflow: hidden;
	width: var(--x50);
	max-width: var(--x50);
	flex: 1 0 auto;
	margin-right: var(--x4);
	text-overflow: ellipsis;
}

.snippet {
	display: inline-block;
	overflow: hidden;
	flex: 0 1 auto;
	margin-right: var(--x4);
	text-overflow: ellipsis;
}

.date-short {
	width: var(--x25);
	flex: 1 0 auto;
	text-align: end;
}

.expanded-root {
	padding: var(--x4) var(--x6);
}

.header {
	display: grid;
	cursor: pointer;
	grid-template-areas:
		'avatar from-line'
		'avatar to-line'
		'avatar cc-line'
		'avatar bcc-line';
	grid-template-columns: min-content minmax(0, 1fr);
	grid-template-rows: auto;
}

.from-line {
	display: flex;
	max-width: 100%;
	flex: 0 1 auto;
	align-items: baseline;
	grid-area: from-line;
}

.from {
	overflow: hidden;
	box-sizing: border-box;
	flex: 0 1 auto;
	margin-right: var(--x1);
	text-overflow: ellipsis;
}

.right-block {
	margin-left: auto;
}

.date {
	margin-left: var(--x2);
}

.to-line {
	box-sizing: border-box;
	margin-right: auto;
	grid-area: to-line;
}

.cc-line {
	box-sizing: border-box;
	margin-right: auto;
	grid-area: cc-line;
}

.bcc-line {
	box-sizing: border-box;
	margin-right: auto;
	grid-area: bcc-line;
}

.avatar-expanded {
	margin-right: var(--x4);
	grid-area: avatar;
}

.message-content {
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.cursor-auto {
	cursor: auto;
}
