<section class="letter-viewer-root" *ngIf="message">
  <div *ngIf="!expanded" class="collapsed-root" (click)="toggleLetter()">
    <ui-avatar [src]="message.from.avatarUrl" size="small" class="avatar-collapsed"></ui-avatar>

    <ui-text class="from-short" nowrap>{{ message.from.address }}</ui-text>

    <ui-text class="snippet" nowrap>
      <ui-highlight
        [content]="message.snippet.snippet.content"
        [occurrences]="message.snippet.snippet.occurrences"
      ></ui-highlight>
    </ui-text>

    <ui-text class="date-short" nowrap color="secondary">{{
      message.date | date: 'mediumDate':'+0000'
    }}</ui-text>
  </div>

  <div *ngIf="expanded" class="expanded-root">
    <div class="header" (click)="toggleLetter()">
      <ui-avatar [src]="message.from.avatarUrl" class="avatar-expanded"></ui-avatar>

      <div class="from-line">
        <ui-text class="from cursor-auto" nowrap bold (click)="stopPropagation($event)">{{
          message.from.address
        }}</ui-text>
        <span class="right-block">
          <ui-text class="collapse-link" mode="pseudo-link" color="secondary">Collapse</ui-text>
          <ui-text class="date" nowrap color="secondary">{{
            message.date | date: 'mediumDate':'+0000'
          }}</ui-text>
        </span>
      </div>

      <span class="to-line cursor-auto" *ngIf="message.to.length" (click)="stopPropagation($event)">
        <ui-text mode="small" color="secondary" inline bold>To:&nbsp;</ui-text>
        <ui-text
          *ngFor="let contact of message.to; index as position; trackBy: trackContact"
          mode="small"
          color="secondary"
          inline
          >{{ position === 0 ? '' : ', ' }}{{ contact.address }}</ui-text
        >
      </span>

      <span class="cc-line cursor-auto" *ngIf="message.cc.length" (click)="stopPropagation($event)">
        <ui-text mode="small" color="secondary" inline bold>Cc:&nbsp;</ui-text>
        <ui-text
          *ngFor="let contact of message.cc; index as position; trackBy: trackContact"
          mode="small"
          color="secondary"
          inline
          >{{ position === 0 ? '' : ', ' }}{{ contact.address }}</ui-text
        >
      </span>

      <span
        class="bcc-line cursor-auto"
        *ngIf="message.bcc.length"
        (click)="stopPropagation($event)"
      >
        <ui-text mode="small" color="secondary" inline bold>Bcc:&nbsp;</ui-text>
        <ui-text
          *ngFor="let contact of message.bcc; index as position; trackBy: trackContact"
          mode="small"
          color="secondary"
          inline
          >{{ position === 0 ? '' : ', ' }}{{ contact.address }}</ui-text
        >
      </span>
    </div>
    <pre
      class="message-content"
    ><ui-highlight [content]="message.body.message.content" [occurrences]="message.body.message.occurrences"></ui-highlight></pre>
    <ng-container *ngIf="message.body.citation">
      <ui-button
        [icon]="messagePartVisible ? visibilityOn : visibilityOff"
        (click)="toggleMessagePart()"
        block
        >Citation</ui-button
      >
      <pre
        class="message-content"
        *ngIf="messagePartVisible"
      ><ui-highlight [content]="message.body.citation.content" [occurrences]="message.body.citation.occurrences"></ui-highlight></pre>
    </ng-container>

    <ng-container *ngIf="message.body.forwarding">
      <ui-button
        [icon]="messagePartVisible ? visibilityOn : visibilityOff"
        (click)="toggleMessagePart()"
        block
        >{{ message.body.forwarding.caption }}</ui-button
      >
      <pre
        class="message-content"
        *ngIf="messagePartVisible"
      ><ui-highlight [content]="message.body.forwarding.content" [occurrences]="message.body.forwarding.occurrences"></ui-highlight></pre>
    </ng-container>
  </div>
</section>
