<label class="root">
  <input [checked]="_checked" type="checkbox" class="input" (change)="onChangeInput()" #checkbox />

  <span
    class="toggle"
    [class.checked]="_checked"
    tabindex="0"
    (keydown.space)="toggleValue($event)"
    (keydown.enter)="toggleValue($event)"
  >
    <span class="slider" [class.checked]="_checked"></span>
  </span>

  <ui-text mode="base" class="label" bold><ng-content></ng-content></ui-text>
</label>
