@import '../../../variables.css';

:host {
	margin: 0;
	color: var(--color-base);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.header {
	display: block;
	margin: 0 0 var(--x4);
	font-size: var(--font-size-header);
	line-height: var(--line-height-header);
}

.subheader {
	display: block;
	margin: 0 0 var(--x2);
	font-size: var(--font-size-subheader);
	line-height: var(--line-height-subheader);
}

.base {
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.label {
	font-size: var(--font-size-small);
	font-weight: 700;
	line-height: var(--line-height-small);
}

.pseudo-link {
	color: var(--color-secondary);
	cursor: pointer;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-width: var(--thin);
}

.pseudo-link:hover {
	text-decoration-line: none;
}

.small {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
}

.bold {
	font-weight: 700;
}

.block {
	display: block !important;
}

.inline {
	display: inline !important;
}

.nowrap {
	white-space: nowrap;
}

.overflowEllipsis {
	text-overflow: ellipsis;
}

.primary {
	color: var(--color-base);
}

.secondary {
	color: var(--color-secondary);
}

.error {
	color: var(--color-error);
}

.dark {
	color: var(--color-dark);
}

.light {
	color: var(--color-light);
}
