<ng-container [ngSwitch]="mode">
  <h1 *ngSwitchCase="'header'" [ngClass]="classes()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h1>
  <h2 *ngSwitchCase="'subheader'" [ngClass]="classes()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h2>
  <span *ngSwitchCase="'base'" [ngClass]="classes()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
  <label *ngSwitchCase="'label'" [ngClass]="classes()" [htmlFor]="labelFor">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </label>
  <small *ngSwitchCase="'small'" [ngClass]="classes()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </small>
  <small *ngSwitchCase="'pseudo-link'" [ngClass]="classes()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </small>
</ng-container>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
