@import '../../../variables.css';

:host {
	display: grid;
	height: 100%;
	grid-template-areas:
		'header header'
		'threads-list thread-viewer';
	grid-template-columns: var(--x100) minmax(0, 1fr);
	grid-template-rows: min-content auto;
}

.header {
	grid-area: header;
}

.threads-list {
	overflow: hidden;
	grid-area: threads-list;
}

.thread-viewer {
	grid-area: thread-viewer;
}
