<ui-headline class="header">
  <ui-logo
    [imageSrc]="logoImage"
    [webpSrc]="logoWebpImage"
    [webpRetinaSrc]="logoWebpRetinaImage"
    [url]="logoUrl"
    style="margin-right: var(--x4);"
    >Email Client</ui-logo
  >
  <ui-button
    (click)="editSearchQuery()"
    [icon]="searchIcon"
    color="dark"
    style="margin-right: var(--x2);"
    >Search emails</ui-button
  >
  <ui-button
    [icon]="clearIcon"
    color="dark"
    style="margin-right: var(--x2);"
    *ngIf="showResetSearchControl"
    routerLink="/threads"
    >Reset search</ui-button
  >
  <div style="margin-left: auto;">
    <ui-button
      color="dark"
      style="margin-right: var(--x2);"
      [href]="threadViewRouteBuilder()"
      *ngIf="showCloseThreadControl"
      >Close Thread</ui-button
    >
    <ui-button [icon]="settingsIcon" color="dark" routerLink="/settings">Settings</ui-button>
  </div>
</ui-headline>
<threads-list class="threads-list"></threads-list>
<thread-viewer class="thread-viewer"></thread-viewer>
