@import '../../../../variables.css';

.form-row {
	display: block;
	margin-bottom: var(--x4);
}

.form-sub-row {
	display: block;
	margin-bottom: var(--x2);
}

.half-form-field {
	width: var(--x60);
	margin-right: var(--x6);
}

.full-form-field {
	width: calc(var(--x120) + var(--x6));
	margin-right: var(--x6);
}

.datepicker-inpit:disabled {
	/* Overriding styles from @angular/material */
	color: var(--color-dark) !important;
	cursor: pointer;
}

.row-caption {
	display: block;
	margin-bottom: var(--x2);
}
