<ui-text mode="header" mat-dialog-title color="dark">Filtering rules</ui-text>

<div mat-dialog-content>
  <form [formGroup]="searchQueryForm" (ngSubmit)="onSubmit()">
    <button type="submit" class="cdk-visually-hidden"></button>
    <div class="form-row">
      <ui-text block color="dark" class="row-caption">Search in body and subject</ui-text>
      <mat-form-field class="full-form-field">
        <mat-label>Search text</mat-label>
        <input #qQuery matInput type="text" formControlName="qQuery" maxlength="50" />
        <button
          type="button"
          mat-button
          *ngIf="searchQueryForm.getRawValue().qQuery"
          matSuffix
          mat-icon-button
          (click)="clear('qQuery')"
        >
          <ui-icon [source]="clearIcon" color="dark"></ui-icon>
        </button>
        <mat-hint align="start">Each word must be longer than two characters</mat-hint>
        <mat-hint align="end">{{ qQuery.value.length }} / 50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-row">
      <ui-text block color="dark" class="row-caption">Search by correspondents</ui-text>
      <mat-form-field class="half-form-field">
        <mat-label>Search by sender</mat-label>
        <input #qFrom matInput type="text" formControlName="qFrom" maxlength="50" />
        <button
          type="button"
          mat-button
          *ngIf="searchQueryForm.getRawValue().qFrom"
          matSuffix
          mat-icon-button
          (click)="clear('qFrom')"
        >
          <ui-icon [source]="clearIcon" color="dark"></ui-icon>
        </button>
        <mat-hint align="end">{{ qFrom.value.length }} / 50</mat-hint>
      </mat-form-field>
      <mat-form-field class="half-form-field">
        <mat-label>Search by recipients</mat-label>
        <input #qTo matInput type="text" formControlName="qTo" maxlength="50" />
        <button
          type="button"
          mat-button
          *ngIf="searchQueryForm.getRawValue().qTo"
          matSuffix
          mat-icon-button
          (click)="clear('qTo')"
        >
          <ui-icon [source]="clearIcon" color="dark"></ui-icon>
        </button>
        <mat-hint align="end">{{ qTo.value.length }} / 50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-row">
      <ui-text block color="dark" class="row-caption">Search by date</ui-text>

      <mat-slide-toggle formControlName="dateRangeEnabled" class="form-sub-row"
        >Filter by date range</mat-slide-toggle
      >

      <ng-container *ngIf="!searchQueryForm.getRawValue().dateRangeEnabled">
        <mat-form-field class="half-form-field" (click)="picker1.open()">
          <mat-label>Choose a date</mat-label>
          <mat-datepicker-toggle matPrefix [for]="picker1">
            <ui-icon [source]="arrowDownIcon" color="dark" matDatepickerToggleIcon></ui-icon>
          </mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="picker1"
            formControlName="qDateFrom"
            disabled
            class="datepicker-inpit"
          />
          <button
            type="button"
            mat-button
            *ngIf="searchQueryForm.getRawValue().qDateFrom"
            matSuffix
            mat-icon-button
            (click)="clearDate($event, 'qDateFrom')"
          >
            <ui-icon [source]="clearIcon" color="dark"></ui-icon>
          </button>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="searchQueryForm.getRawValue().dateRangeEnabled">
        <mat-form-field class="half-form-field" (click)="picker2.open()">
          <mat-label>Choose start date</mat-label>
          <mat-datepicker-toggle matPrefix [for]="picker2">
            <ui-icon [source]="arrowDownIcon" color="dark" matDatepickerToggleIcon></ui-icon>
          </mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="picker2"
            formControlName="qDateFrom"
            disabled
            class="datepicker-inpit"
          />
          <button
            type="button"
            mat-button
            *ngIf="searchQueryForm.getRawValue().qDateFrom"
            matSuffix
            mat-icon-button
            (click)="clearDate($event, 'qDateFrom')"
          >
            <ui-icon [source]="clearIcon" color="dark"></ui-icon>
          </button>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="half-form-field" (click)="picker3.open()">
          <mat-label>Choose end date</mat-label>
          <mat-datepicker-toggle matPrefix [for]="picker3">
            <ui-icon [source]="arrowDownIcon" color="dark" matDatepickerToggleIcon></ui-icon>
          </mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="picker3"
            [min]="dateToMinimumValue"
            formControlName="qDateTo"
            disabled
            class="datepicker-inpit"
          />
          <button
            type="button"
            mat-button
            *ngIf="searchQueryForm.getRawValue().qDateTo"
            matSuffix
            mat-icon-button
            (click)="clearDate($event, 'qDateTo')"
          >
            <ui-icon [source]="clearIcon" color="dark"></ui-icon>
          </button>
          <mat-datepicker #picker3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null" type="button">Cancel</button>
  <button mat-button (click)="clearAll()" type="reset">Reset All</button>
  <button
    type="submit"
    color="primary"
    mat-button
    [mat-dialog-close]="getClearForm()"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
