<div class="list" [class.loading]="loading" #threadContainer>
  <ng-container *ngIf="!loading && !threadId">
    <state-message mode="not-selected"></state-message>
  </ng-container>

  <ng-container *ngIf="!loading && threadId && !thread">
    <state-message mode="not-found-thread"></state-message>
  </ng-container>

  <ng-container *ngIf="thread">
    <ui-text *ngIf="!thread.subject.isEmpty" class="subject" mode="subheader" block>
      <ui-highlight
        [content]="thread.subject.normalized.content"
        [occurrences]="thread.subject.normalized.occurrences"
      ></ui-highlight>
    </ui-text>
    <ui-text *ngIf="thread.subject.isEmpty" class="subject" mode="subheader" block color="secondary"
      >&lt; Empty Subject &gt;</ui-text
    >
    <letter-viewer
      *ngFor="let message of messages; index as position; trackBy: trackMessage"
      [message]="message"
      [renderExpanded]="position === 0"
    ></letter-viewer>
  </ng-container>
</div>
