@import '../../../../variables.css';

:host {
	position: relative;
	display: flex;
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
	flex-direction: column;
}

.list {
	height: 0;
	flex: 1 1 auto;
	overflow-y: auto;
	transition: opacity 0.2s ease;
	will-change: opacity;
}

.subject {
	position: sticky;
	z-index: 1;
	top: 0;
	display: block;
	padding: var(--x4) var(--x6) var(--x2);
	background: var(--controls-backgroung-color-base);
	box-shadow: 0 0 var(--x3) 0 var(--border-color);
}

.loading {
	opacity: 0.6;
	pointer-events: none;
}
