<div class="spinner">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 64 64"
  >
    <defs>
      <path id="a" d="M0 0h32v32H0z"></path>
      <mask id="progress">
        <path fill="#fff" d="M0 0h64v64H0z"></path>
        <use fill="#020202" xlink:href="#a" transform="rotate(-146 32 32)"></use>
        <use fill="#040404" xlink:href="#a" transform="rotate(-144 32 32)"></use>
        <use fill="#060606" xlink:href="#a" transform="rotate(-142 32 32)"></use>
        <use fill="#080808" xlink:href="#a" transform="rotate(-140 32 32)"></use>
        <use fill="#0A0A0A" xlink:href="#a" transform="rotate(-138 32 32)"></use>
        <use fill="#0C0C0C" xlink:href="#a" transform="rotate(-136 32 32)"></use>
        <use fill="#0E0E0E" xlink:href="#a" transform="rotate(-134 32 32)"></use>
        <use fill="#101010" xlink:href="#a" transform="rotate(-132 32 32)"></use>
        <use fill="#131313" xlink:href="#a" transform="rotate(-130 32 32)"></use>
        <use fill="#151515" xlink:href="#a" transform="rotate(-128 32 32)"></use>
        <use fill="#171717" xlink:href="#a" transform="rotate(-126 32 32)"></use>
        <use fill="#191919" xlink:href="#a" transform="rotate(-124 32 32)"></use>
        <use fill="#1B1B1B" xlink:href="#a" transform="rotate(-122 32 32)"></use>
        <use fill="#1D1D1D" xlink:href="#a" transform="rotate(-120 32 32)"></use>
        <use fill="#1F1F1F" xlink:href="#a" transform="rotate(-118 32 32)"></use>
        <use fill="#212121" xlink:href="#a" transform="rotate(-116 32 32)"></use>
        <use fill="#242424" xlink:href="#a" transform="rotate(-114 32 32)"></use>
        <use fill="#262626" xlink:href="#a" transform="rotate(-112 32 32)"></use>
        <use fill="#282828" xlink:href="#a" transform="rotate(-110 32 32)"></use>
        <use fill="#2A2A2A" xlink:href="#a" transform="rotate(-108 32 32)"></use>
        <use fill="#2C2C2C" xlink:href="#a" transform="rotate(-106 32 32)"></use>
        <use fill="#2E2E2E" xlink:href="#a" transform="rotate(-104 32 32)"></use>
        <use fill="#303030" xlink:href="#a" transform="rotate(-102 32 32)"></use>
        <use fill="#323232" xlink:href="#a" transform="rotate(-100 32 32)"></use>
        <use fill="#353535" xlink:href="#a" transform="rotate(-98 32 32)"></use>
        <use fill="#373737" xlink:href="#a" transform="rotate(-96 32 32)"></use>
        <use fill="#393939" xlink:href="#a" transform="rotate(-94 32 32)"></use>
        <use fill="#3B3B3B" xlink:href="#a" transform="rotate(-92 32 32)"></use>
        <use fill="#3D3D3D" xlink:href="#a" transform="rotate(-90 32 32)"></use>
        <use fill="#3F3F3F" xlink:href="#a" transform="rotate(-88 32 32)"></use>
        <use fill="#414141" xlink:href="#a" transform="rotate(-86 32 32)"></use>
        <use fill="#434343" xlink:href="#a" transform="rotate(-84 32 32)"></use>
        <use fill="#464646" xlink:href="#a" transform="rotate(-82 32 32)"></use>
        <use fill="#484848" xlink:href="#a" transform="rotate(-80 32 32)"></use>
        <use fill="#4A4A4A" xlink:href="#a" transform="rotate(-78 32 32)"></use>
        <use fill="#4C4C4C" xlink:href="#a" transform="rotate(-76 32 32)"></use>
        <use fill="#4E4E4E" xlink:href="#a" transform="rotate(-74 32 32)"></use>
        <use fill="#505050" xlink:href="#a" transform="rotate(-72 32 32)"></use>
        <use fill="#525252" xlink:href="#a" transform="rotate(-70 32 32)"></use>
        <use fill="#545454" xlink:href="#a" transform="rotate(-68 32 32)"></use>
        <use fill="#575757" xlink:href="#a" transform="rotate(-66 32 32)"></use>
        <use fill="#595959" xlink:href="#a" transform="rotate(-64 32 32)"></use>
        <use fill="#5B5B5B" xlink:href="#a" transform="rotate(-62 32 32)"></use>
        <use fill="#5D5D5D" xlink:href="#a" transform="rotate(-60 32 32)"></use>
        <use fill="#5F5F5F" xlink:href="#a" transform="rotate(-58 32 32)"></use>
        <use fill="#616161" xlink:href="#a" transform="rotate(-56 32 32)"></use>
        <use fill="#636363" xlink:href="#a" transform="rotate(-54 32 32)"></use>
        <use fill="#656565" xlink:href="#a" transform="rotate(-52 32 32)"></use>
        <use fill="#686868" xlink:href="#a" transform="rotate(-50 32 32)"></use>
        <use fill="#6A6A6A" xlink:href="#a" transform="rotate(-48 32 32)"></use>
        <use fill="#6C6C6C" xlink:href="#a" transform="rotate(-46 32 32)"></use>
        <use fill="#6E6E6E" xlink:href="#a" transform="rotate(-44 32 32)"></use>
        <use fill="#707070" xlink:href="#a" transform="rotate(-42 32 32)"></use>
        <use fill="#727272" xlink:href="#a" transform="rotate(-40 32 32)"></use>
        <use fill="#747474" xlink:href="#a" transform="rotate(-38 32 32)"></use>
        <use fill="#767676" xlink:href="#a" transform="rotate(-36 32 32)"></use>
        <use fill="#797979" xlink:href="#a" transform="rotate(-34 32 32)"></use>
        <use fill="#7B7B7B" xlink:href="#a" transform="rotate(-32 32 32)"></use>
        <use fill="#7D7D7D" xlink:href="#a" transform="rotate(-30 32 32)"></use>
        <use fill="#7F7F7F" xlink:href="#a" transform="rotate(-28 32 32)"></use>
        <use fill="#818181" xlink:href="#a" transform="rotate(-26 32 32)"></use>
        <use fill="#838383" xlink:href="#a" transform="rotate(-24 32 32)"></use>
        <use fill="#858585" xlink:href="#a" transform="rotate(-22 32 32)"></use>
        <use fill="#878787" xlink:href="#a" transform="rotate(-20 32 32)"></use>
        <use fill="#8A8A8A" xlink:href="#a" transform="rotate(-18 32 32)"></use>
        <use fill="#8C8C8C" xlink:href="#a" transform="rotate(-16 32 32)"></use>
        <use fill="#8E8E8E" xlink:href="#a" transform="rotate(-14 32 32)"></use>
        <use fill="#909090" xlink:href="#a" transform="rotate(-12 32 32)"></use>
        <use fill="#929292" xlink:href="#a" transform="rotate(-10 32 32)"></use>
        <use fill="#949494" xlink:href="#a" transform="rotate(-8 32 32)"></use>
        <use fill="#969696" xlink:href="#a" transform="rotate(-6 32 32)"></use>
        <use fill="#989898" xlink:href="#a" transform="rotate(-4 32 32)"></use>
        <use fill="#9B9B9B" xlink:href="#a" transform="rotate(-2 32 32)"></use>
        <use fill="#9D9D9D" xlink:href="#a"></use>
        <use fill="#9F9F9F" xlink:href="#a" transform="rotate(2 32 32)"></use>
        <use fill="#A1A1A1" xlink:href="#a" transform="rotate(4 32 32)"></use>
        <use fill="#A3A3A3" xlink:href="#a" transform="rotate(6 32 32)"></use>
        <use fill="#A5A5A5" xlink:href="#a" transform="rotate(8 32 32)"></use>
        <use fill="#A7A7A7" xlink:href="#a" transform="rotate(10 32 32)"></use>
        <use fill="#A9A9A9" xlink:href="#a" transform="rotate(12 32 32)"></use>
        <use fill="#ACACAC" xlink:href="#a" transform="rotate(14 32 32)"></use>
        <use fill="#AEAEAE" xlink:href="#a" transform="rotate(16 32 32)"></use>
        <use fill="#B0B0B0" xlink:href="#a" transform="rotate(18 32 32)"></use>
        <use fill="#B2B2B2" xlink:href="#a" transform="rotate(20 32 32)"></use>
        <use fill="#B4B4B4" xlink:href="#a" transform="rotate(22 32 32)"></use>
        <use fill="#B6B6B6" xlink:href="#a" transform="rotate(24 32 32)"></use>
        <use fill="#B8B8B8" xlink:href="#a" transform="rotate(26 32 32)"></use>
        <use fill="#BABABA" xlink:href="#a" transform="rotate(28 32 32)"></use>
        <use fill="#BDBDBD" xlink:href="#a" transform="rotate(30 32 32)"></use>
        <use fill="#BFBFBF" xlink:href="#a" transform="rotate(32 32 32)"></use>
        <use fill="#C1C1C1" xlink:href="#a" transform="rotate(34 32 32)"></use>
        <use fill="#C3C3C3" xlink:href="#a" transform="rotate(36 32 32)"></use>
        <use fill="#C5C5C5" xlink:href="#a" transform="rotate(38 32 32)"></use>
        <use fill="#C7C7C7" xlink:href="#a" transform="rotate(40 32 32)"></use>
        <use fill="#C9C9C9" xlink:href="#a" transform="rotate(42 32 32)"></use>
        <use fill="#CBCBCB" xlink:href="#a" transform="rotate(44 32 32)"></use>
        <use fill="#CECECE" xlink:href="#a" transform="rotate(46 32 32)"></use>
        <use fill="#D0D0D0" xlink:href="#a" transform="rotate(48 32 32)"></use>
        <use fill="#D2D2D2" xlink:href="#a" transform="rotate(50 32 32)"></use>
        <use fill="#D4D4D4" xlink:href="#a" transform="rotate(52 32 32)"></use>
        <use fill="#D6D6D6" xlink:href="#a" transform="rotate(54 32 32)"></use>
        <use fill="#D8D8D8" xlink:href="#a" transform="rotate(56 32 32)"></use>
        <use fill="#DADADA" xlink:href="#a" transform="rotate(58 32 32)"></use>
        <use fill="#DCDCDC" xlink:href="#a" transform="rotate(60 32 32)"></use>
        <use fill="#DFDFDF" xlink:href="#a" transform="rotate(62 32 32)"></use>
        <use fill="#E1E1E1" xlink:href="#a" transform="rotate(64 32 32)"></use>
        <use fill="#E3E3E3" xlink:href="#a" transform="rotate(66 32 32)"></use>
        <use fill="#E5E5E5" xlink:href="#a" transform="rotate(68 32 32)"></use>
        <use fill="#E7E7E7" xlink:href="#a" transform="rotate(70 32 32)"></use>
        <use fill="#E9E9E9" xlink:href="#a" transform="rotate(72 32 32)"></use>
        <use fill="#EBEBEB" xlink:href="#a" transform="rotate(74 32 32)"></use>
        <use fill="#EDEDED" xlink:href="#a" transform="rotate(76 32 32)"></use>
        <use fill="#F0F0F0" xlink:href="#a" transform="rotate(78 32 32)"></use>
        <use fill="#F2F2F2" xlink:href="#a" transform="rotate(80 32 32)"></use>
        <use fill="#F4F4F4" xlink:href="#a" transform="rotate(82 32 32)"></use>
        <use fill="#F6F6F6" xlink:href="#a" transform="rotate(84 32 32)"></use>
        <use fill="#F8F8F8" xlink:href="#a" transform="rotate(86 32 32)"></use>
        <use fill="#FAFAFA" xlink:href="#a" transform="rotate(88 32 32)"></use>
        <use fill="#FCFCFC" xlink:href="#a" transform="rotate(90 32 32)"></use>
        <use fill="#FEFEFE" xlink:href="#a" transform="rotate(92 32 32)"></use>
      </mask>
    </defs>
    <path
      d="M54.6 47.6c-1.98-1.98-5.09-1.98-7.07 0-8.56 8.56-22.6 8.56-31.1 0-8.56-8.56-8.56-22.6 0-31.1 4.54-5.58-3.25-10.7-7.07-7.07-12.4 12.4-12.4 32.8 0 45.3 12.4 12.4 32.8 12.4 45.3 0 1.98-1.98 1.98-5.09 0-7.07zM32 54c-12.1 0-22-9.9-22-22s9.9-22 22-22c2.8 0 5-2.2 5-5s-2.2-5-5-5C14.4 0 0 14.4 0 32s14.4 32 32 32c7.16-.736 5.26-9.84 0-10z"
      mask="url(#progress)"
    ></path>
  </svg>
</div>
