@import '../../../variables.css';

:host {
	display: block;
}

@keyframes spin {
	to {
		transform: rotate(360deg) translateZ(0);
	}
}

.spinner {
	display: block;
	width: var(--spinner-size-base);
	height: var(--spinner-size-base);
	animation: spin 1s cubic-bezier(0.49, 0.28, 0.49, 0.67) infinite;
	fill: var(--color-primary);
}
