@import '../../../variables.css';

:host {
	display: block;
	height: var(--control-size);
	padding: var(--x2) var(--x4);
	margin: 0;
	background-color: var(--headline-background-color);
}

.headline {
	display: flex;
}
