@import '../../../../variables.css';

:host {
	position: relative;
	display: flex;
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	border-right: thin solid var(--border-color);
}

.list {
	height: 0;
	flex: 1 1 auto;
	overflow-y: auto;
	transition: opacity 0.2s ease;
	will-change: opacity;
}

.loading {
	opacity: 0.6;
	pointer-events: none;
}

.pagination {
	z-index: 1;
	padding: var(--x4) 0;
	border-top: thin solid var(--border-color);
	margin-top: auto;
	background-color: var(--controls-backgroung-color-base);
	box-shadow: 0 0 var(--x3) 0 var(--border-color);
}
