<ng-container *ngIf="loading && !emailsPage">
  <state-message mode="loading"></state-message>
</ng-container>

<ng-container *ngIf="emailsPage && emailsPage.isEmpty">
  <state-message mode="not-found-threads"></state-message>
</ng-container>

<ng-container *ngIf="emailsPage && !emailsPage.isEmpty">
  <div class="list" [class.loading]="loading" #threadsList>
    <ng-container *ngFor="let thread of emailsPage.entities; trackBy: trackThread">
      <threads-list-item
        [thread]="thread"
        [href]="threadViewRouteBuilder(thread._id)"
        [active]="thread._id === selectedThreadId"
      ></threads-list-item>
    </ng-container>
  </div>

  <div class="pagination">
    <ui-pagination
      [allPages]="emailsPage.pagesCount"
      [selectedPage]="emailsPage.page"
      [urlBuilder]="pageViewRouteBuilder"
    ></ui-pagination>
  </div>
</ng-container>
