<div class="center-wrapper" *ngIf="initializing">
  <ui-spinner></ui-spinner>
</div>

<ng-container *ngIf="!initializing">
  <div class="center-wrapper" *ngIf="initializationFailed">
    <state-message mode="initialization-failed"></state-message>
  </div>

  <router-outlet *ngIf="!initializationFailed"></router-outlet>
</ng-container>
