<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'loading'">
    <ui-spinner></ui-spinner>

    <ui-text mode="subheader">Loading, please wait</ui-text>
  </ng-container>

  <ng-container *ngSwitchCase="'not-found-threads'">
    <ui-icon [source]="notFoundThreadsIcon" size="giant"></ui-icon>

    <ui-text mode="subheader">No Threads Found</ui-text>
    <ui-text>Try to change the filtering rules</ui-text>
  </ng-container>

  <ng-container *ngSwitchCase="'initialization-failed'">
    <ui-icon [source]="initializationFailedIcon" size="giant"></ui-icon>

    <ui-text mode="subheader">Initialization Fails</ui-text>
    <ui-text>Please, try to reload the page</ui-text>
  </ng-container>

  <ng-container *ngSwitchCase="'not-selected'">
    <ui-icon [source]="notSelectedIcon" size="giant"></ui-icon>

    <ui-text mode="subheader">No Threads Selected</ui-text>
    <ui-text>Select thread from the list</ui-text>
  </ng-container>

  <ng-container *ngSwitchCase="'not-found-thread'">
    <ui-icon [source]="notFoundThreadIcon" size="giant"></ui-icon>

    <ui-text mode="subheader">Not Found</ui-text>
    <ui-text>Please, select another thread from the list</ui-text>
  </ng-container>
</ng-container>
