@import '../../../variables.css';

:host {
	margin: 0;
}

.base {
	position: relative;
	display: inline-block;
	height: var(--control-size);
	box-sizing: border-box;
	padding: 0 var(--x4);
	border: none;
	border-radius: var(--x1);
	color: var(--color-base);
	cursor: pointer;
	fill: var(--color-base);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: 1;
	outline: none;
	text-decoration: none;
	text-shadow: none;
	transition: background-color ease 0.1s;
	user-select: none;
	will-change: background-color;
}

.base.onlyIcon {
	padding: 0 var(--x2-with-half);
}

.innerText {
	line-height: var(--control-size);
	vertical-align: middle;
}

.primary {
	background-color: var(--control-backgroung-color-primary);
	color: var(--color-light);
	fill: var(--color-light);
}

.primary:hover,
.primary:active,
.primary:focus {
	background-color: var(--control-backgroung-color-primary-hover);
}

.secondary {
	background-color: var(--control-backgroung-color-secondary);
	color: var(--color-base);
	fill: var(--color-base);
}

.secondary:hover,
.secondary:active,
.secondary:focus {
	background-color: var(--control-backgroung-color-secondary-hover);
}

.light {
	background-color: var(--control-backgroung-color-light);
	color: var(--color-dark);
	fill: var(--color-dark);
}

.light:hover,
.light:active,
.light:focus {
	background-color: var(--control-backgroung-color-light-hover);
}

.dark {
	background-color: var(--control-backgroung-color-dark);
	color: var(--color-light);
	fill: var(--color-light);
}

.dark:hover,
.dark:active,
.dark:focus {
	background-color: var(--control-backgroung-color-dark-hover);
}

.block {
	display: block;
}

.icon {
	margin-right: var(--x2);
	vertical-align: middle;
}

.icon.onlyIcon {
	margin-right: 0;
}
