@import '../../../../variables.css';

:host {
	position: relative;
	display: block;
	user-select: none;
}

:host:not(:last-of-type) {
	border-bottom: thin solid var(--border-color);
}

.list-item-root {
	display: grid;
	height: calc(var(--thread-item-height) - 2 * var(--x2));
	padding: var(--x2) var(--x4);
	background-color: var(--controls-backgroung-color-base);
	cursor: pointer;
	grid-template-areas:
		'avatar caption-line'
		'avatar subject-line'
		'avatar snippet-line';
	grid-template-columns: min-content minmax(0, 1fr);
	grid-template-rows: auto auto var(--thread-item-snippet-height);
	text-decoration: none;
	transition: background-color ease 0.1s;
	will-change: background-color;
}

.list-item-root:hover,
.list-item-root:focus,
.list-item-root:active {
	background-color: var(--controls-backgroung-color-hover);
}

.active {
	background-color: var(--controls-backgroung-color-active);
}

.avatar {
	margin-right: var(--x2);
	grid-area: avatar;
}

.caption-line {
	display: flex;
	max-width: 100%;
	flex: 0 1 auto;
	align-items: baseline;
	grid-area: caption-line;
}

.subject-line {
	display: flex;
	max-width: 100%;
	flex: 0 1 auto;
	align-items: baseline;
	margin-top: var(--x1);
	grid-area: subject-line;
}

.snippet-line {
	grid-area: snippet-line;
}

.caption {
	grid-area: caption;
}

.address {
	overflow: hidden;
	box-sizing: border-box;
	flex: 0 1 auto;
	margin-right: var(--x1);
	text-overflow: ellipsis;
}

.subject {
	overflow: hidden;
	box-sizing: border-box;
	flex: 0 1 auto;
	margin-right: var(--x1);
	text-overflow: ellipsis;
}

.date {
	margin-left: auto;
}

.count {
	box-sizing: border-box;
	padding: 0 var(--x2);
	margin-left: auto;
	background-color: var(--control-backgroung-color-secondary);
	border-radius: var(--x3);
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.snippet {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	color: var(--color-secondary);
	-webkit-line-clamp: var(--thread-item-snippet-line-clamp);
	text-overflow: -o-ellipsis-lastline;
}
