<a
  [routerLink]="href"
  queryParamsHandling="merge"
  class="list-item-root"
  [class.active]="active || active === ''"
  *ngIf="thread"
>
  <div class="avatar">
    <ui-avatar [src]="thread.from.avatarUrl"></ui-avatar>
  </div>
  <div class="caption-line">
    <ui-text class="address" nowrap mode="base" bold>{{ thread.from.address }}</ui-text>
    <ui-text class="date" nowrap mode="small" color="secondary">{{
      thread.date | date: 'mediumDate':'+0000'
    }}</ui-text>
  </div>
  <div class="subject-line">
    <ui-text class="subject" nowrap mode="small" *ngIf="!thread.subject.isEmpty">
      <ui-highlight
        [content]="thread.subject.normalized.content"
        [occurrences]="thread.subject.normalized.occurrences"
      ></ui-highlight>
    </ui-text>
    <ui-text
      class="subject"
      nowrap
      bold
      mode="small"
      *ngIf="thread.subject.isEmpty"
      color="secondary"
      >&lt; Empty Subject &gt;</ui-text
    >
    <ui-text class="count" *ngIf="thread.messages.length > 1" nowrap mode="small">{{
      thread.messages.length
    }}</ui-text>
  </div>
  <div class="snippet-line">
    <ui-text class="snippet" mode="small" color="secondary">
      <ui-highlight
        [content]="thread.messageSnippet.snippet.content"
        [occurrences]="thread.messageSnippet.snippet.occurrences"
      ></ui-highlight
    ></ui-text>
  </div>
</a>
