@import '../../../variables.css';

.settings {
	padding: var(--x4) var(--x8);
	background-color: var(--controls-backgroung-color-base);
}

hr {
	border: none;
	border-bottom: thin solid var(--border-color);
	margin: var(--x2) calc(-1 * var(--x4)) var(--x4);
}

.section {
	max-width: var(--x192);
	margin-bottom: var(--x6);
}

.section-control {
	display: block;
	margin-top: var(--x4);
	margin-bottom: var(--x2);
}
