<ui-headline>
  <ui-button [icon]="backIcon" color="dark" routerLink="/threads">Back</ui-button>
</ui-headline>
<div class="settings">
  <form [formGroup]="settingsForm">
    <ui-text mode="header">Settings</ui-text>

    <hr />
    <section class="section">
      <ui-text mode="subheader">Dark theme</ui-text>
      <ui-text mode="base" color="secondary"
        >Dark mode theme is very convenient for eye strain during the night.</ui-text
      >
      <ui-toggle class="section-control" formControlName="darkModeEnabled"
        >Enable dark theme</ui-toggle
      >
    </section>

    <hr />
    <section class="section">
      <ui-text mode="subheader">Compact view</ui-text>
      <ui-text mode="base" color="secondary"
        >You can turn on the compact view to fit more information on the screen. Lines will narrow,
        and the size of the texts will decrease.</ui-text
      >
      <ui-toggle class="section-control" formControlName="compactViewEnabled"
        >Enable compact view</ui-toggle
      >
    </section>

    <hr />
    <section class="section">
      <ui-text mode="subheader">Group messages by subject</ui-text>
      <ui-text mode="base" color="secondary"
        >Grouping letters by subject is a way to simplify correspondence with colleagues and
        friends. All letters, united by one subject and participants, are collected in a chain on
        one page.</ui-text
      >
      <ui-toggle class="section-control" formControlName="messagesGroupingEnabled"
        >Group messages by subject</ui-toggle
      >
    </section>
  </form>
</div>
