<ng-container *ngIf="hasPrevious">
  <ui-button
    class="button"
    [icon]="arrowBackIcon"
    [href]="urlBuilder(selectedPage - 1)"
  ></ui-button>
</ng-container>

<ng-container *ngFor="let button of buttons; trackBy: trackByButtons">
  <ng-container [ngSwitch]="button">
    <ng-container *ngSwitchCase="-1">
      <ui-icon [source]="moreHorizIcon" class="button"></ui-icon>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ui-button
        class="button"
        [href]="urlBuilder(button)"
        [color]="button === selectedPage ? 'primary' : 'secondary'"
      >
        {{ button }}
      </ui-button>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="hasNext">
  <ui-button
    class="button"
    [icon]="arrowForwardIcon"
    [href]="urlBuilder(selectedPage + 1)"
  ></ui-button>
</ng-container>
