<a class="link" [routerLink]="url" target="_self">
  <picture>
    <source [srcset]="webpSrc + ', ' + webpRetinaSrc + ' 2x'" type="image/webp" />
    <img [src]="imageSrc" alt="" class="image" />
  </picture>
  <span class="text"><ng-content></ng-content></span>
</a>
