@import '../../../variables.css';

:host {
	display: inline-block;
}

.link {
	display: inline-block;
	height: var(--control-size);
	cursor: pointer;
	line-height: var(--control-size);
}

.image {
	display: inline-block;
	width: var(--control-size);
	height: var(--control-size);
	margin-right: var(--x2);
	vertical-align: top;
}

.text {
	display: inline-block;
	height: var(--control-size);
	color: var(--color-light);
	font-size: var(--font-size-header);
	line-height: var(--control-size);
	text-decoration: none;
	vertical-align: top;
}
